<h1>Seja bem-vindo!</h1>
<ul>
  <li> <a href="http://localhost:3000/kinds">Tipos</li>
  <li> <a href="http://localhost:3000/contacts">Contatos</li>
  <li> <a href="http://localhost:3000/addresses">Endereços</li>
  <li> <a href="http://localhost:3000/phones">Telefones</li>
</ul>